<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                        <!-- <button pButton pRipple label="Excluir" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteSelectedTutors()" [disabled]="!selectedTutors || !selectedTutors.length"></button> -->
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="tutors" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','country.name','representative.name','sexo']" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedTutors" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gerenciar Tutores</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                placeholder="Pesquisar..." class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th> -->
                        <th pSortableColumn="code">Código <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="name">Nome <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="cpf">CPF <p-sortIcon field="cpf"></p-sortIcon></th>
                        <th pSortableColumn="sexo">Sexo <p-sortIcon field="sexo"></p-sortIcon></th>
                        <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                        <th pSortableColumn="cidade">Cidade <p-sortIcon field="cidade"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tutor>
                    <tr>
                        <!-- <td>
                            <p-tableCheckbox [value]="tutor"></p-tableCheckbox>
                        </td> -->
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{tutor.code || tutor.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{tutor.name}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">CPF</span>
                            {{tutor.cpf }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Sexo</span>
                            {{tutor.sexo}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Estado</span>
                            {{tutor.estado}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Cidade</span>
                            {{tutor.cidade}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2" (click)="editTutor(tutor)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteTutor(tutor)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="tutorDialog" [style]="{width: '450px'}" header="Tutor" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <!-- <img [src]="'assets/demo/images/tutor/' + tutor.image" [alt]="tutor.image" width="150"
                    class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="tutor.image"> -->
                <div class="field">
                    <label for="name">Nome</label>
                    <input type="text" pInputText id="name" [(ngModel)]="tutor.name" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !tutor.name}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !tutor.name">Campo 'Nome' obrigatório.</small>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="cpf">CPF</label>
                        <p-inputMask mask="999.999.999-99" [(ngModel)]="tutor.cpf" placeholder="000.000.000-00"
                            name="cpf"></p-inputMask>
                    </div>
                    <div class="field col">
                        <label for="sexo">Sexo</label>
                        <p-dropdown [(ngModel)]="tutor.sexo" inputId="sexo" optionValue="label" [options]="sexoes"
                            placeholder="Sexo">
                            <ng-template pTemplate="selectedItem">
                                <span *ngIf="tutor && tutor.sexo"
                                    [class]="'product-badge sexo-' + tutor.sexo.toString().toLowerCase()">{{tutor.sexo}}</span>
                            </ng-template>
                            <ng-template let-option pTemplate="item">
                                <span [class]="'product-badge sexo-' + option.value">{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="telefone">Telefone</label>
                        <p-inputMask mask="(99) 99999-9999" [(ngModel)]="tutor.telefone"
                            placeholder="(00) 90000-0000"></p-inputMask>
                    </div>
                    <div class="field col">
                        <label for="cep">CEP</label>
                        <p-inputMask mask="99999-999" (onBlur)="consultaCEP($event.target.value, f)" [(ngModel)]="tutor.cep"
                            placeholder="00000-000"></p-inputMask>
                    </div>
                </div>

                <form #f="ngForm">
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="estado">Estado</label>
                            <p-inputMask mask="aa" id="estado" name="estado" [(ngModel)]="tutor.estado"></p-inputMask>
                        </div>
                        <div class="field col">
                            <label for="cidade">Cidade</label>
                            <input type="text" pInputText id="cidade" name="cidade" [(ngModel)]="tutor.cidade" />
                        </div>
                        <div class="field col">
                            <label for="bairro">Bairro</label>
                            <input type="text" pInputText id="bairro" name="bairro" [(ngModel)]="tutor.bairro" />
                        </div>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="rua">Rua</label>
                            <input type="text" pInputText id="rua" name="rua" [(ngModel)]="tutor.rua" />
                        </div>
                        <div class="field col">
                            <label for="numero">Número</label>
                            <input type="text" pInputText id="numero" name="numero" [(ngModel)]="tutor.numero" />
                            <!-- [ngClass]="{'ng-invalid ng-dirty' : submitted && !tutor.numero}" -->
                        </div>
                    </div>
                </form>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text"
                    (click)="saveTutor()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteTutorDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="tutor">Are you sure you want to delete <b>{{tutor.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteTutorDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteTutorsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected tutors?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteTutorsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
